@using CarInsurance.Models
@model List<CarInsuranceNewQuote>

@using CarInsurance.Models
@model List<CarInsuranceNewQuote>
<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Description</h3>

<div>
    <dl>
        <dt>Name:</dt>
        <dd>@ViewBag.UserNow.FirstName</dd>
        <dt>Your Monthly Total:</dt>
        <dd>@ViewBag.UserNow.LastName</dd>
        <dd>@Model.LastOrDefault().CarModel.ToString() </dd>
    </dl>
</div>